.review_btn {
  background-color: transparent !important;
  /* color: white; */
  outline: none;
  border: 1px solid white;
  border-radius: 5px;
  height: 50px !important;
  display: flex;
  align-items: center;
  gap: 7px;
}

.btn_container {
  display: flex;
  gap: 8px;
}

.carousel_card h1 {
  font-weight: 700;
  color: red;
}

.carousel-control-prev {
  width: 50px !important;
  height: 50px !important;
  top: 50% !important;
  border-radius: 8px !important;
  left: 15px !important;
  opacity: 1 !important;
  z-index: 10; /* Ensure it is above other elements */
}

.logo-container {
  position: relative;
  width: 50%;
  overflow: hidden;
}

.logo-half {
  width: 200%;
  max-width: none;
  margin-left: -50%;
}
